<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
    <header class="flex items-center justify-between border-b border-[#f0f4f3] px-10 py-3 bg-white shadow-sm">
      <div class="flex items-center gap-8">
        <div class="flex items-center gap-4 text-[#111815]">
          <div class="size-4">
            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z"
                fill="currentColor"
              />
            </svg>
          </div>
          <h2 class="text-lg font-bold tracking-tight">ReWear</h2>
        </div>
        <nav class="flex items-center gap-6">
          <a href="index.html" class="text-sm font-medium text-[#111815] hover:text-[#2a5d4d]">Home</a>
          <a href="explore.html" class="text-sm font-medium text-[#111815] hover:text-[#2a5d4d]">Explore</a>
          <a href="dashboard.html" class="text-sm font-medium text-[#111815] hover:text-[#2a5d4d]">My Items</a>
          <a href="listing.html" class="text-sm font-medium text-[#111815] hover:text-[#2a5d4d]">Wishlist</a>
          <a href="upload.html" class="text-sm font-medium text-[#111815] hover:text-[#2a5d4d]">New Item</a>
        </nav>
      </div>
      <div class="flex items-center gap-6">
        <label class="relative">
          <input
            type="text"
            placeholder="Search"
            class="pl-10 pr-4 py-2 rounded-full bg-[#f0f4f3] text-sm text-[#111815] placeholder-[#63887c] focus:outline-none focus:ring-2 focus:ring-[#b7e0d2]"
          />
          <div class="absolute left-3 top-2.5 text-[#63887c]">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
              />
            </svg>
          </div>
        </label>
        <button class="p-2 rounded-full bg-[#f0f4f3] text-[#111815] hover:bg-[#e6edea]">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
            <path
              d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
            />
          </svg>
        </button>
        <div
          class="w-10 h-10 rounded-full bg-cover bg-center"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBR5-RxnJnwTaI0X9DLsgKNlalapIgZorbAZ8rnOXGg_byMveLoudEwOwaSzbR9fbCy3HmHQ-kljLZ8DG9o-gSf3ZPCMWPqI7ipVtXgm7ZnGGSw00pJteU-u85FM-NANkWl5KR5FN2ImUckyE84fbyGMQQgvjZmAbLtTmajGEb1JegtPTL7UgPRxnkbYOWVC_qeyTao52w9P-DFt_T0fDPGndGppc-VF9pW4QuFSdn2Sw4T6vTIEQqZ6Cu2L-WGXELvvHMqyFZ7HsEj")'
        ></div>
      </div>
    </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuCu0g2KUbJHKFc-B4aQFEFWXHJM5s92DZdIjyIahFwkliEnThHwjt9nFNLCvn8JEGHzyd8rNuTrUfRqZ8W468lo2_uOhOU2oKfHJkXr2leI1BH0_--XRgI1bSG7yWdi3-Bh_ES6eQNnhKsF4ajkOB8D6rplkw4Biyx9ypSVHxyiU9gKcdzr5VJFLKOxd80XiVg34cUO7qELlpJ-OChO1g3Z7VhlDIKi1FCjCskJESpGSKn8kOUfFsJoFOhfSuA4hwrdvlU472qWmye6");'
                >
                  <div class="flex flex-col gap-2 text-center">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Swap, Style, Sustain
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Join our community and refresh your wardrobe with pre-loved fashion.
                    </h2>
                  </div>
                  <div class="flex-wrap gap-3 flex justify-center">
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#14b781] text-[#111815] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                    >
                      <span class="truncate">Start Swapping</span>
                    </button>
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#f0f4f3] text-[#111815] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                    >
                      <span class="truncate">Browse Items</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="text-[#111815] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Featured Items</h2>
            <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
              <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDhjWoz-cmad26wMqgM2T2dHyOuKQezY05TKZD-vSxZvZt1WTRkYXI-OHqzMH60n9YhpydfQXt9NzpNX55Fur5Q0LYCaYn76sr6eaPWi7C_zFErQfW1WWbpnO31GaZcAVpnOuutflprqMgiXbzH4r1wCydFaw-dy-s_hO7bLOAHRkJYovx9TcpdftDjL8R6Tg6aliybTUyYkBb9BzuB5DPZSfitOpkuwEyZS7_EQzSyc2qaoLvgTYA7OQUWhGz7UYi1JNahIZ5pR4iH");'
                  ></div>
                  <div>
                    <p class="text-[#111815] text-base font-medium leading-normal">Elegant Evening Dress</p>
                    <p class="text-[#63887c] text-sm font-normal leading-normal">Perfect for special occasions</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAbo6ZPZP6r2-kLQQupWPw0B3-AB8RcHiGs96lnkFLzxYbYUFNosuf6ByYbwR0kgrXeeX2OdIQAy3fUeVUeGxB65aCvKTWkYKGLATLw07eIPaVeTEOB56umy5lZM_ZTftvinpQQ51pT5FOjW4PLrH78-wbW8oIteTU9BOLmhUvrC433bN08IGOr6vVJf0VlJNHSdOqMVQkKsJo3DF3EIXuTqxMNZ2ovinFMCsTooy5FADF15FvWHI9ErvzOis1_U5IyMVWQ-bDLpLVj");'
                  ></div>
                  <div>
                    <p class="text-[#111815] text-base font-medium leading-normal">Casual Streetwear</p>
                    <p class="text-[#63887c] text-sm font-normal leading-normal">Comfortable and trendy</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCh9MGyzCF4Xdg5KSG54PlFmlEWSmRODXloGVFjWxHEX829OxmJj2qyEcg2-0DwHgGXySajZ_aPdZ77nIoI7HzRn-3uaGhr42IKeAIcSCg-BI7sMdz-U9rdc9gX6Tc0Td5Lu-wmwxgfSni8QO8pxnnWSopaZfP64A8bkP5prGWm8-DeWu0KnbuXn0C3DwBtdNf8LmcrMCF1QCLzdeU7CvojlKsuDv1vMW8XOdycz6DS2ChOnAiwKU2EDB9pznZsTmb1CzywjklB3yUv");'
                  ></div>
                  <div>
                    <p class="text-[#111815] text-base font-medium leading-normal">Vintage Chic Ensemble</p>
                    <p class="text-[#63887c] text-sm font-normal leading-normal">Unique and timeless</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


